<div class="list-group" style="margin-bottom: 10px;">
    <a routerLink="/editEmployee/{{employee.id}}" class="list-group-item list-group-item-action list-group-item-info">
        <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-center">
                <h2>{{employee.id}}</h2>
            </div>
            <div class="col-9">
                <h3>{{employee.name}}</h3>
                <h5><small class="text-muted font-italic">{{employee.role}}</small></h5>
            </div>
        </div>
    </a>
</div>